$base-theme:Bootstrap;
$skin-name:miraThemes;
$swatch-name:Bootstrap;
$border-radius: 0.25rem;
$accent: #174d61;
$secondary: #64818e;
$info: #17a2b8;
$success: #28a745;
$warning: #ffc107;
$error: #dc3545;
$body-bg: #d0dee5;
$body-color: #292b2c;
$component-bg: #a4b4bc;
$component-color: #292b2c;
$card-cap-bg: #445963;
$card-cap-color: #d1e7f2;
$series-a: #0275d8;
$series-b: #5bc0de;
$series-c: #5cb85c;
$series-d: #f0ad4e;
$series-e: #e67d4a;
$series-f: #d9534f;
