<div class="div1 mb-2">
    <div class="row row1 px-0  toprow justify-content-around">
        <div class="col1 col-1 text-center">
            <a href="#">
                <i class="fas fa-procedures"></i>
            </a>
        </div>
        <div class="col1 col-4 fontWeightBolder text-white">789</div>
        <div class="col1 col-7 text-left colbl pl-1 text-light">Estado</div>
    </div>
    <div class="row row1">
        <div class="col1 col-1 colbr bg-white text-primary text-center">
            <i class="fas fa-hospital-symbol fa-lg"></i>
        </div>
        <div class="col1 col-10">
            <span class="nh">345678</span>
            <span class="fontWeightBolder ml-1">JUAN PEREZ DE LA SIERNA</span>
        </div>
        <div class="col1 col-1 colbl text-center"><i class="far fa-address-book small"></i></div>
    </div>
    <div class="row row1">
        <div class="col1 col-1 colbr text-center"><i class="fas fa-sitemap small"></i></div>
        <div class="col1 col-10">Segunda Línea</div>
        <div class="col1 col-1 colbl text-center"><i class="far fa-address-book small"></i></div>
    </div>
    <div class="row row1">
        <div class="col1 col-1 colbr text-center"><i class="far fa-address-book small"></i></div>
        <div class="col1 col-10">Tercera Línea</div>
        <div class="col1 col-1 colbl text-center"><i class="far fa-address-book small"></i></div>
    </div>
    <div class="row row1">
        <div class="col1 col-1 colbr text-center"><i class="far fa-address-book small"></i></div>
        <div class="col1 col-10">Cuarta Línea</div>
        <div class="col1 col-1 colbl text-center"><i class="far fa-address-book small"></i></div>
    </div>
    <div class="row row1">
        <div class="col1 col-1 colbr text-center"><i class="far fa-address-book small"></i></div>
        <div class="col1 col-10">Quinta Línea</div>
        <div class="col1 col-1 colbl text-center"><i class="far fa-address-book small"></i></div>
    </div>
    <div class="row row1">
        <div class="col1 col-1 colbr text-center"><i class="far fa-address-book small"></i></div>
        <div class="col1 col-10">Sexta Línea</div>
        <div class="col1 col-1 colbl text-center"><i class="far fa-address-book small"></i></div>
    </div>
    <div class="row row1">
        <div class="pl-2"><i class="far fa-address-book small"></i> </div>
    </div>
</div>
@code {

}
